{
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "node": true,
    "jest": true
  },
  "extends": "eslint:recommended",
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "import"
  ],
  "settings": {
    "import/resolve": {
      "paths": ["app"]
    }
  },
  "rules": {
    "indent": [
      "error",
      2
    ],
    "quotes": [
      "error",
      "single"
    ],
    "semi": [
      "error",
      "never"
    ],
    "no-console": 0,
    "no-constant-condition": 0,
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "react/react-in-jsx-scope": "error",
    "import/no-unresolved": "error",
    "import/named": "error",
    "import/default": "error"
  }
}
